#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_image
{
    width: 150px;
    border-radius: 100px;
}
#voice_checker
{
    width: 300px;
}
